{# templates/recipes/new-recipe.html.twig #}
{% extends 'base.html.twig' %}
{% form_theme form 'forms/bootstrap_4_layout.html.twig' %}
{% block title %}{{ mode }} Recipe{% endblock %}

{% block body %}
<div class="title">{{ mode }} Recipe</div>

<div id="form_container">

{# add from internet - parse data from url 
<input class="form-control url_input" type="url" id="url_input" placeholder="Enter recipe url">
<input type="hidden" id="get_data_url" value="{{ path('get_recipe_from_url') }}">
<button class="btn btn-secondary" onclick="getUrlData(url_input.value)">Find Recipe</button>

<div id="get_data_results" contenteditable="true"></div> #}

{# upload a recipe #}
{{ form_start(form) }}
    {{ form_errors(form) }}
	{{ form_row(form.name) }}
    {% if existingFileName is defined and existingFileName != null %}
    <div id="method" style="display:none">
    {% else %}
    <div id="method">
    {% endif %}
	{{ form_row(form.ingredients) }}
	{{ form_row(form.method) }}	
    </div>
    {{ form_row(form.recipeFile) }} 

    {% if existingFileName is defined and existingFileName != null %}
        <div id="existingFile" class="existing">
        <p><font class="current">Current File:</font> {{ existingFileName }} <span class="glyphicon glyphicon-remove" onClick="deleteFile({{ recipeId }})" title="remove existing file"></span></p>
        <input type="hidden" id="delete_file_url" value="{{ path('delete_file', {'id': recipeId }) }}">
        </div>
    {% endif %}
	   

    <h3>Images</h3>
    <ul class="recipeImages" data-prototype="{{ form_widget(form.recipeImages.vars.prototype)|e('html_attr') }}">
        {# iterate over each existing tag and render its only field: name #}
        {% for image in form.recipeImages %}
            <li>{{ form_row(image.recipeImageFile) }}</li>
        {% endfor %}
    </ul>

    {% if existingImages is defined and existingImages != null %}
    <div id="existingImages" class="existing">
        <p><font class="current">Current Images:</font></p>
        {% for id,image in existingImages %}
            <input type="hidden" id="delete_image_url_{{ id }}" value="{{ path('delete_image', {'id': id }) }}">
            <br><p id="image_{{ id }}">{{ image }}<span class="glyphicon glyphicon-remove" onClick="deleteImageFile({{ id }})" title="remove image"></span></p>
        {% endfor %}
    </div>
    {% endif %}

  <div class="row">
    <div class="col-sm col-sm-10">
      <button type="submit" value="save" class="btn btn-primary">Save</button>
      {% if recipeId is defined and recipeId != null %}
        <a href="{{ path('recipe_show', {'id': recipeId }) }}" class="btn btn-info">Cancel</a>
      {% else %}
        <a href="{{ path('recipe_list') }}" class="btn btn-info">Cancel</a>
      {% endif %}
    </div>
  </div>

    
{{ form_end(form, {'render_rest': false}) }}
{# copy/pase into text field #}
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}

<script src="{{ asset('build/recipe-image.js') }}"></script>
{% endblock %}