{# templates/blog/show-recipe-file.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}{{ recipe.title }}{% endblock %}

{% block body %}
<div class="title">{{ recipe.title }}</div>


{# show file viewer + eventually with annotations/mark up capability #}
{# https://symfony.com/doc/current/cmf/bundles/media/introduction.html #}

<div class="download-options">
<a class="btn btn-info" href="{{ path('download_recipe', {'id': recipe.id }) }}">Download</a>
<a class="btn btn-info" href="{{ asset('uploads/recipes/' ~ recipe.filename) }}" target="_blank">Open in New Tab</a>
<a class="btn btn-info" href="{{ path('recipe_edit', {'id': recipe.id }) }}">Edit</a>

</div>	

{# TODO: put recipe image here if exists + style picture to not about 70% width of screen#}
{% if recipe.images %}
	{% for image in recipe.images %}

	<picture>
	    <source srcset='{{ asset("uploads/recipes/#{image}") }}' media='(max-width: 768px)'>
	    <source srcset='{{ asset("uploads/recipes/#{image}") }}'>
	    <img srcset='{{ asset("uploads/recipes/#{image}") }}' alt='{{ recipe.title }}'>
	</picture>

	{% endfor %}
{% endif %}

<picture>
	{# 	TODO: convert images on uplad to have smaller options #}
    <source srcset="{{ asset('uploads/recipes/' ~ recipe.filename) }}" media="(max-width: 768px)">
    <source srcset="{{ asset('uploads/recipes/' ~ recipe.filename) }}" >
    <img srcset="{{ asset('uploads/recipes/' ~ recipe.filename) }}"  alt='{{ recipe.title }}'>
</picture>

{# display recipe images, loop through however many #}
{# export/print/share links #}

{% endblock %}

{% block javascripts %}
{{ parent() }}
{# https://packagist.org/packages/jjalvarezl/pdfjs-viewer-bundle #}
{# <script src="{{ asset('bundles/jjalvarezlpdfjsviewer/build/pdf.js') }}"></script> #}
{% endblock %}

