{# templates/blog/show-recipe.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}{{ recipe.title }}{% endblock %}

{% block body %}
<div class="recipe_title">{{ recipe.title }}</div>

<div class="recipe_container">

{% for image in recipe.images %}
	
<picture>
    <source srcset='{{ asset("uploads/recipes/#{image}") }}' media='(max-width: 768px)'>
    <source srcset='{{ asset("uploads/recipes/#{image}") }}'>
    <img srcset='{{ asset("uploads/recipes/#{image}") }}' alt='{{ recipe.title }}'>
</picture>

{% endfor %}


<div class="recipe_subtitle">
<div tabindex="0" class="method">Method</div>
<div tabindex="-1" class="ingredients">Ingredients</div>
</div>

<div class="recipe">
	<div id="method">{{ recipe.method|nl2br }}</div>
	<div id="ingredients" class="display_none">{{ recipe.ingredients|nl2br }}</div>
</div>

{# twigs path helper #}
<a href="{{ path('recipe_edit', {'id': recipe.id }) }}">Edit Recipe</a>
</div>


{# display recipe images, loop through however many #}
{# export/print/share links #}


{% endblock %}


